
body {
  font-family: Helvetica, sans-serif;
}

.locations-container{
  background: white;
  max-width: 659px;
  overflow: hidden;
  .custom-audience{
    margin: 20px 20px;
    float: right;
    .custom-audience-text{
      line-height: 24px;
      text-align: right;
      display: inline-block;
      color: #666;
      font-weight: bold;
      font-size: 12px;
    }
    input{
      display: inline-block;
      width: 420px;
    }
    .fa{
      display: inline-block;
      margin: 5px 18px 5px 5px;
      color: #BDBDBD;
    }
  } // custom-audience comp.

  .options{
    margin: 40px 0px 5px 0px ;
    float: right;
    margin-right: 115px;
    .options-text{
      line-height: 24px;
      text-align: right;
      display: inline-block;
      color: #666;
      font-weight: bold;
      font-size: 12px;
    }
    select{
      width: 180px;
    }
  .options-selector{
      width: 400px;
      ul{

      }
    }
    input{
      display: inline-block;
      width: 420px;
    }
    .fa{
      display: inline-block;
      margin: 5px 18px 5px 5px;
      color: #BDBDBD;
    }
  } // locations comp.

  .agegenderlang-container{
     margin: 20px 20px;
    .age-container{
      margin: 5px;
      clear: both;
      float: right;
      margin-right: 270px;
      .description{
        line-height: 24px;
        text-align: right;
        display: inline-block;
        color: #666;
        font-weight: bold;
        font-size: 12px;
      }
      input{
        display: inline-block;
        width: 65px;
      }
      .fa{
        display: inline-block;
        margin: 5px 18px 5px 5px;
        color: #BDBDBD;
      }
      span{
        margin-top: 5px;
      }
    }

    .gender-container{
      margin: 5px;
      clear: both;
      float: right;
      margin-right: 216px;
      .description{
        line-height: 24px;
        text-align: right;
        display: inline-block;
        color: #666;
        font-weight: bold;
        font-size: 12px;
      }
      .btn-group{
        display: inline-block;
      }
      .fa{
        display: inline-block;
        margin: 5px 18px 5px 5px;
        color: #BDBDBD;
      }
    }

    .languages-container{
       margin: 5px 5px 50px 15px;
       clear: both;
       float: right;
       .description{
         line-height: 24px;
         text-align: right;
         display: inline-block;
         color: #666;
         font-weight: bold;
         font-size: 12px;
       }
       .fa{
         display: inline-block;
         margin: 5px 18px 5px 5px;
         color: #BDBDBD;
       }
       .form-input{
          width: 400px;
          display: inline-block;
       }
    }
  } // agegender comp.
}
