
.regions{

  .form-autocomplete{
    width: 400px;
    float: right;
    margin: 0px 25px 20px 0px;
    margin-top: 10px;
    .selections{
      list-style: none;
      background: #fff;
      border: .1rem solid #c5c5c5;
      border-bottom: 0;
      border-radius: .3rem;
      padding: 0px 10px 6px 10px;
      margin: 10px 0px 0px 0px;
      .fa-map-marker{
        margin-right: 10px;
      }
      .fa-times{
        float: right;
      }
    }
  }

}
